h1 {
  text-align: center;
  padding: 20%;
}

h2 {
  text-align: center;
  padding: 10%;
}

.button {
  align-content: center;
  border-radius: 50%;
}


.offcanvas {
  background-color: #222 !important;
}
